#
# requires the following gitlab secret variables
#
# - NEXUS_USERNAME
# - NEXUS_PASSWORD
# - NEXUS_REPO_URL
#

image: maven:3.5.3-jdk-8

before_script:
  - export BASELINE=1.16.2
  - export REVISION=$BASELINE.$(date +%Y%m%d)-$(date +%H%M)-$(echo $CI_COMMIT_SHA | cut -c1-8)

#
# TODO: uncomment next 2 sections if decide to configure & build incode-extended-app as a Docker image
#

#services:
#  - docker:dind

#variables:
#  DOCKER_HOST: tcp://docker:2375
#  DOCKER_DRIVER: overlay2
#  APP_NAME: "incode-extended-app"

stages:
  - build-package-push

build-package-push:
  stage: build-package-push
  script:
    - echo "REVISION=$REVISION"
    - >
      mvn --batch-mode \
          clean install \
          -Drevision=$REVISION \
          $CORE_ADDITIONAL_OPTS
    - cd modules
    - >
      mvn -s .m2/settings.xml \
          --batch-mode \
          deploy \
          -DskipTests \
          -Drevision=$REVISION \
          -Dnexus-deploy \
          -Dnexus-deploy.repositoryUrl=$NEXUS_REPO_URL
    - cd ..


#
# TODO: uncomment if we decide to configure & build the incode-extended app as a Docker image
#
#
# requires the additional following gitlab secret variables
#
# - DOCKER_REGISTRY_USERNAME
# - DOCKER_REGISTRY_PASSWORD
# - DOCKER_REGISTRY_EMAIL
# - DOCKER_REGISTRY_NAME        # eg "registry-1.docker.io" (for docker hub)
                                # or "docker-dev.incode.cloud" (eg a cloud-based nexus)
# - DOCKER_REGISTRY_URL         # eg "https://index.docker.io/v1/" (for docker hub)
                                # or "https://repo.incode.cloud/repository/docker-dev/" (eg a cloud-based nexus)
#
#
#
#    - cd example/app/extended
#    - >
#      mvn --batch-mode \
#          install \
#          -Drevision=$REVISION \
#          -Disis.version=$REVISION \
#          -Dmavenmixin-docker \
#          -Ddocker-plugin.imageName=$DOCKER_REGISTRY_NAME/$DOCKER_REGISTRY_USERNAME/$APP_NAME
#    - >
#      mvn -s .m2/settings.xml \
#          --batch-mode \
#          docker:push@push-image-tagged \
#          -pl webapp \
#          -Drevision=$REVISION \
#          -Disis.version=$REVISION \
#          -DskipTests \
#          -Dskip.isis-swagger \
#          -Dmavenmixin-docker \
#          -Ddocker-plugin.imageName=$DOCKER_REGISTRY_NAME/$DOCKER_REGISTRY_USERNAME/$APP_NAME \
#          -Ddocker-plugin.serverId=docker-registry \
#          -Ddocker.registryUrl=$DOCKER_REGISTRY_URL
#    - cd ../../..
