.pdfPanel {
    width : 100%;
    height : 100%;
    border: 1px solid lightgrey;
    position : relative;
}

body[pdf-js-printing] > :not(#pdf-js-print-container) {
    display: none;
}

body:not([pdf-js-printing]) > #pdf-js-print-container {
    display: none;
}

body[pdf-js-printing] > #pdf-js-print-container {
    display: block;
}
